<div>
  <h1>Pet Management 3000</h1>
  <form [formGroup]="petForm" (ngSubmit)="addPet()">
    <label>Pet Name</label>
    <input type="text" formControlName="name" />
    <button type="submit">Add</button>
  </form>
  <div class="container">
    @for (status of statutes; track $index) {
    <div class="board">
      <h2>{{ status }}</h2>
      <ul>
        @for (pet of pets; track $index) { @if (pet.status === status){

        <li>
          {{ pet.name }}
          @if(pet.status !== 'Finally Back to Hooman'){

          <button type="button" (click)="moveStatus(pet)">Next</button>
          }
        </li>
        } }
      </ul>
    </div>
    }
  </div>
</div>
